/* In your CSS file */

.nav-dropdown-item-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  
  .nav-dropdown-item-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .nav-dropdown-item-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .nav-dropdown-item-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
  